:root {
    --light: #fff;
    --gray: #c4ccde;
    --purple: #660E9C;
  }

  .contenido-dashboard {
    display: flex;
    
  }

  .content{
    background: var(--light);
    margin: 20px;
    border-radius: 12px;
    overflow: overlay;
    position: inherit;
  }


.img-dashboard{
    width: 40px;
    margin: 0;
}

.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid var(--gray);
    
}

ul {
    list-style: none;
    padding: 1rem 2rem;
    font-size: 12px;
    
}



.active{
    background: var(--purple);
    color: #fff;
}

.btnEditEli{
  display: flex;
}