.container-proyect{
    background: #fff;
    border-radius: 10px;
    margin: 10px;
}
.container-navbar{
    display: flex;
    justify-content: space-between;
}
.btnProyect{
    background-color: #660E9C;
    color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 40px;
}

.btn:hover {
    color: #fff;
    background: #81519e;
    border-color: #81519e;
    
}
.textTittle{
    margin-left: 10px;
    font-weight: bold;
}
.containerTabla{
    margin: 10px;
    margin-top: 40px;
    overflow: auto;
}

.table{
    overflow: scroll;
}

thead {
    font-size: 12px;
    font-weight: bold;
}

th{
    padding: 10px;
    border-bottom: 2px solid #c4ccde;
    margin-bottom: 10px;
    
}
tbody{
    padding-top: 40px;
    font-size: 10px;
}
tr {
    padding-top: 10px;
    text-align: center;
}

.state{
    background: #f1ee1f;
}

button{
    border: none;
}

.iconoEditar{
    color: #660E9C;
    border: none;
    background: #fff;
}

.iconoEliminar{
    color: #660E9C;
}

/* ------ MODAL --------------- */

.titleModal{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.closeModalX{
    margin-top: -44px;
    cursor: pointer;
}

.modal-body{
    font-size: 12px;
}
.form-control{
    border: 1px solid black;
    padding: 5px;
}

.inputLabel{
    margin-top: 10px;
    margin-left: 6px;
}
.textCheck{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.input-cuadro{
    margin-left: 10px;
    width: 15px;
    position: relative;
    top: 3px;
}

.saveBoton{
    background: #116be0;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    border: none;
}
.saveBoton:hover{
    background: #4486dc;
    border: none;
}

.deletBoton{
    background: #939496;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
}

.deletBoton:hover{
    background: #9f9fa8;
}

select{
    color: #0d0d0d;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    width: 90%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

select[multiple] {
    height: 1.5em;
    vertical-align: top;
  }
  select[multiple]:focus,
  select[multiple]:active {
    height: auto;
  }

  .fotoUsuario{
    border-radius: 50%;
    width: 20px;
}